<network connections='1'>
  <name>mgt</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='virbr-mgt' stp='on' delay='0'/>
  <mac address='52:54:00:78:49:05'/>
  <ip address='192.168.200.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='192.168.200.2' end='192.168.200.254'/>
      <host mac="{{ guest_mgt_mac }} " ip="{{ guest_mgt_ip }}"/>
    </dhcp>
  </ip>
</network>

